@font-face {
    font-family: "CircularSpUI-Book";
    src: url("../fonts/Circular/CircularSpUIv3T-Book.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpUI-Light";
    src: url("../fonts/Circular/CircularSpUIv3T-Light.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpUI-Bold";
    src: url("../fonts/Circular/CircularSpUIv3T-Bold.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpUI-Black";
    src: url("../fonts/Circular/CircularSpUIv3T-Black.woff2");
    font-weight: normal;
    font-style: normal;
}