@import '_fonts.scss';
@import '_reset.scss';

$base_color: #030303;
$base_color_white: #fff;
$breakpoints: (phone:576px, tablet:768px, desktop:992px);

@mixin flex_center($column: 'row') {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $column;
}

body,
html {
    background-color: $base_color;
    font-size: 16px;
    font-family: CircularSpUI-Book, sans-serif;
}

h1 {
    font-family: CircularSpUI-Book, sans-serif;
    font-size: 3.6em;
    color: $base_color_white;
}

a {
    text-decoration: none;
}

.btn-default {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
        background-color: $base_color_white;
        color: $base_color;
    }
}


/* Login */

#login-wrapper {
    @include flex_center(column);
    width: 100vw;
    height: 100vh;
}

/* Main */
#main-header {
    position: fixed;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}